<div id="rev_slider_34_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container flv_rev_14">
    <div id="rev_slider_34_2" class="rev_slider fullwidthabanner flv_rev_13">
        <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-thumb="~/Content/Frontend/Templates/images/slide-home-2-thumb.jpg" data-saveperformance="off">
                <img src="~/Content/Frontend/Templates/images/slide-home-2-bg.jpg" alt="slide-home-2-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="tp-caption lft flv_rev_9" data-x="right" data-hoffset="-50" data-y="bottom" data-voffset="210" data-speed="500" data-start="1000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                    <img src="~/Content/Frontend/Templates/images/slide-home-2-1.png" alt="">
                </div>
                <div class="tp-caption lft flv_rev_8" data-x="right" data-hoffset="-40" data-y="bottom" data-voffset="160" data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                    <img src="~/Content/Frontend/Templates/images/slide-home-2-2.png" alt="">
                </div>
                <div class="tp-caption lft flv_rev_7" data-x="right" data-hoffset="-30" data-y="bottom" data-voffset="110" data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                    <img src="~/Content/Frontend/Templates/images/slide-home-2-3.png" alt="">
                </div>
                <div class="tp-caption lft flv_rev_6" data-x="right" data-hoffset="-20" data-y="bottom" data-voffset="60" data-speed="500" data-start="2500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                    <img src="~/Content/Frontend/Templates/images/slide-home-2-4.png" alt="">
                </div>
                <div class="tp-caption lft flv_rev_5" data-x="right" data-hoffset="-10" data-y="bottom" data-voffset="10" data-speed="500" data-start="3000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                    <img src="~/Content/Frontend/Templates/images/slide-home-2-5.png" alt="">
                </div>
                <div class="tp-caption large_dark sft tp-resizeme flv_rev_4" data-x="center" data-hoffset="-300" data-y="center" data-voffset="-10" data-speed="500" data-start="3500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                    <span class='themecolor'>250.000+</span> doanh nghiệp
                    <br> trên Toàn quốc
                </div>
                <div class="tp-caption mfnrs_home_small sfl tp-resizeme flv_rev_2" data-x="center" data-hoffset="-357" data-y="center" data-voffset="110" data-speed="500" data-start="3700" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                    <span class="flv_rev_3">
                        Kênh cung cấp thông tin doanh nghiệp
                        <br />
                        kết nối giao thương
                        <br>
                        và xúc tiến thương mại tốt nhất cho bạn
                    </span>
                </div>
                <div class="tp-caption sfb tp-resizeme flv_rev_1" data-x="center" data-hoffset="-481" data-y="center" data-voffset="220" data-speed="500" data-start="4000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                    <a href='#' class='tp-button button button_theme'>Đăng ký với chúng tôi</a>
                </div>
            </li>
        </ul>
    </div>
</div>