@model CMS.Models.HomeViewModel

<div class="section dark flv_section" style="background-image:none; padding-bottom: 0; padding-top: 25px;">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <!-- Page Title-->
            <!-- One full width row-->
            <div class="column one column_fancy_heading" style="margin-bottom: 14px;">
                <div class="fancy_heading fancy_heading_line">
                    <h2 class="title" style="text-transform: uppercase;font-size: 25px;font-weight: bold;">Danh mục ngành nghề</h2>
                </div>
            </div>
            <!-- One full width row-->
            <div class="column one column_feature_list">
                <div class="feature_list">
                    <ul>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-tools"></i></span>
                                    <p>
                                        Nông nghiệp
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-cog"></i></span>
                                    <p>
                                        Xây dựng
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-pencil"></i></span>
                                    <p>
                                        Thủ công mỹ nghệ
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-globe"></i></span>
                                    <p>
                                        Hóa chất
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-flag"></i></span>
                                    <p>
                                        May mặc và phục kiện
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-tools"></i></span>
                                    <p>
                                        Nông nghiệp
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-cog"></i></span>
                                    <p>
                                        Xây dựng
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-pencil"></i></span>
                                    <p>
                                        Thủ công mỹ nghệ
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-globe"></i></span>
                                    <p>
                                        Hóa chất
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-flag"></i></span>
                                    <p>
                                        May mặc và phục kiện
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-tools"></i></span>
                                    <p>
                                        Nông nghiệp
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-cog"></i></span>
                                    <p>
                                        Xây dựng
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-pencil"></i></span>
                                    <p>
                                        Thủ công mỹ nghệ
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-globe"></i></span>
                                    <p>
                                        Hóa chất
                                    </p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <!-- Animated area -->
                            <div class="animate" data-anim-type="zoomIn">
                                <a href="#">
                                    <span class="icon"><i class="icon-flag"></i></span>
                                    <p>
                                        May mặc và phục kiện
                                    </p>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- One full width row-->
            <div class="column one column_column">
                <div class="column_attr ">
                    <div class="aligncenter">
                        <a class="button button_left button_theme button_js" href="typography.html">
                            <span class="button_icon">
                                <i class="fas fa-chevron-circle-down"></i>
                            </span><span class="button_label">Xem thêm</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>